@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MTS Wide';
  src: url('./assets/fonts/MTSWide-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTS Wide';
  src: url('./assets/fonts/MTSWide-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTS Wide';
  src: url('./assets/fonts/MTSWide-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTS Wide';
  src: url('./assets/fonts/MTSWide-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTS Wide';
  src: url('./assets/fonts/MTSWide-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTS Compact';
  src: url('./assets/fonts/MTSCompact-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTS Compact';
  src: url('./assets/fonts/MTSCompact-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTS Compact';
  src: url('./assets/fonts/MTSCompact-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTS Compact';
  src: url('./assets/fonts/MTSCompact-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: 'MTS Wide', 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
